---
import { type CollectionEntry, getCollection, render } from 'astro:content'
import { Icon } from 'astro-icon/components'
import Layout from '../components/layout.astro'
import Time from '../components/time.astro'

export async function getStaticPaths() {
  const posts = await getCollection('post')
  return posts.map(post => ({
    params: { slug: post.id },
    props: post,
  }))
}
type Props = CollectionEntry<'post'>

const post = Astro.props
const { Content } = await render(post)
const { title, description, emoji, created, updated } = post.data

const fontSize = (1 / Math.E) ** (title.length / 10) / 2 + 2
---

<Layout title={title} description={description} >
	<div class="hero flex">
		<Icon name={emoji} class="hero-icon" />
		<h1 class="hero-title" style={`font-size: ${fontSize}rem`}>{title}</h1>
		<div class="hero-time flex">
			<Time date={created} />
			{updated && (<Time date={updated} icon="mdi:update" />)}
		</div>
	</div>
	<Content />
</Layout>

<style>
	.hero {
		margin: 4rem 0;
		flex-direction: column;
	}
	.hero-icon {
		width: 4rem;
		height: auto;
	}
	.hero-title {
		margin: 1.25rem 0 1.375rem;
	}
	.hero-time {
		gap: 1rem;
		color: var(--text-2);
	}
</style>
