---
import { type CollectionEntry, getCollection, render } from 'astro:content'
import { Icon } from 'astro-icon/components'
import Layout from '../components/layout.astro'
import Time from '../components/time.astro'

export async function getStaticPaths() {
  const posts = await getCollection('post')
  return posts.map(post => ({
    params: { slug: post.id },
    props: post,
  }))
}
type Props = CollectionEntry<'post'>

const post = Astro.props
const { Content } = await render(post)
const { title, description, emoji, created, updated } = post.data

const fontSize = (1 / Math.E) ** (title.length / 20) + 1.5
---

<Layout title={title} description={description} >
	<div class="hero flex">
		<Icon name={emoji} class="hero-icon" />
		<h1 class="hero-title">
			<span style={`font-size: ${fontSize}em`}>{title}</span>
		</h1>
		<div class="hero-time flex">
			<Time date={created} />
			{updated && (<Time date={updated} icon="mdi:update" />)}
		</div>
	</div>
	<Content />
	{post.id.startsWith('inv-') && (
		<hr />
		<p>⚠️ この記事は投資に関する個人の考えや考察です。投資の判断はご自身の責任で慎重に行ってください。</p>
	)}
	<div class="ads-space"></div>
	{post.id.startsWith("anime-") ? (
		<ins class="widget-banner"></ins>
		<script class="widget-banner-script" src="https://widget-view.dmm.com/js/banner_placement.js?affiliate_id=luis-002&banner_id=879_640_200"></script>
	) : (
		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5106375978729065" crossorigin="anonymous"></script>
		<!-- display-bottom -->
		<ins class="adsbygoogle"
			style="display:block"
			data-ad-client="ca-pub-5106375978729065"
			data-ad-slot="3405470619"
			data-ad-format="auto"
			data-full-width-responsive="true"></ins>
		<script>
			// @ts-expect-error
			(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	)}
</Layout>

<style>
	.hero {
		margin: 4rem 0;
		flex-direction: column;
	}
	.hero-icon {
		width: 4.5rem;
		height: auto;
	}
	.hero-title {
		font-size: 1rem;
		margin: 1.25rem 0 1.375rem;
	}
	@media screen and (max-width: 768px) {
    .hero-title {
        font-size: .75rem;
    }
	}
	.hero-time {
		gap: 1rem;
		color: var(--text-2);
	}
	.ads-space {
		margin-top: 4rem;
	}
</style>
