---
import './global.css'
import { Icon } from 'astro-icon/components'
import Search from 'astro-pagefind/components/Search'
import FallbackImage from '../assets/blog-placeholder-1.jpg'
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts'
import Link from './link.astro'
//import type { ImageMetadata } from 'astro'

type Props = {
  title?: string
  description?: string
  image?: ImageMetadata
}
const { title = SITE_TITLE, description = SITE_DESCRIPTION, image = FallbackImage } = Astro.props

const canonicalURL = new URL(Astro.url.pathname, Astro.site)
---

<!doctype html>
<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<link rel="alternate" type="application/rss+xml" title={SITE_TITLE} href={new URL('rss.xml', Astro.site)} />
		<link rel="canonical" href={canonicalURL} />
		<title>{title}</title>
		<meta name="title" content={title} />
		<meta name="description" content={description} />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content={new URL(image.src, Astro.url)} />
		<meta property="twitter:card" content="summary" />
	</head>
	<body>
		<header class="flex justify-between">
			<a href="/" class="flex">
				<Icon name="luisfun" class="logo-icon" />{SITE_TITLE}
			</a>
			<button type="button" onclick="search_dialog.showModal()" class="search-button flex justify-between">
				<Icon name="mdi:search" class="search-icon" />
				<div class="search-label">検索</div><div></div>
			</button>
			<dialog id="search_dialog">
				aaa
			</dialog>
		</header>
		<main>
			<slot />
		</main>
		<footer class="flex justify-between">
			<div></div>
			<Link href='https://github.com/luisfun/blog.luis.fun' icon="simple-icons:github" class="footer-link" />
		</footer>
	</body>
</html>

<style>
	body {
		width: 91.6667%;
		max-width: 64rem;
		margin: auto;
	}
	header {
		padding: 1rem;
		border-bottom: var(--border);
	}
	header a {
		color: var(--text-1);
		text-decoration: none;
		cursor: pointer;
	}
	.logo-icon {
		width: 2rem;
		height: auto;
		margin-right: .5rem;
		color: var(--mono-f);
		background: var(--mono-0);
		outline: var(--border);
		border-radius: 30.9017%;
	}
	.search-button {
		width: 5rem;
		height: 2rem;
		padding: 0 .5rem;
		background: var(--bg-2);
		outline: var(--border);
		border-radius: 9999px;
		cursor: pointer;
	}
	.search-icon {
		width: 1.25rem;
		height: auto;
	}
	.search-label {
		color: var(--text-2);
	}
	footer {
		padding: 1rem;
		border-top: var(--border);
		text-align: center;
	}
	.footer-link {
		width: 1.25rem;
		height: auto;
		color: var(--text-2);
		text-decoration: none;
	}
</style>
